
@model IEnumerable<BranchListModel>

@{
    ViewData["Title"] = "Branch List";
    Layout = "_AuthorityLayout";
}

<div class="m-4">
    <h1 class="page-header mb-5">Branch List</h1>

    <table x-data="initData()" class="table">
        <thead>
        <tr>
            <th scope="col">Branch Name</th>
            <th scope="col"><strong>Phone</strong></th>
            <th scope="col"><strong>Email</strong></th>
            <th scope="col"><strong>Address</strong></th>
            <th scope="col" style="width: 100px;text-align: center"><strong>Active</strong></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.BranchName</td>
                <td>@item.BranchPhone</td>
                <td>@item.BranchEmail</td>
                <td>@item.BranchAddress</td>
                <td>
                    <div class="form-check-inline">
                        <input id="@item.BranchId" x-on:change="branchActivation(@item.BranchId)" type="checkbox" class="form-check-input" @(item.IsActive == true? "checked":"")>
                        <label for="@item.BranchId" class="form-check-label">Active</label>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        function initData() {
            return {
                branchActivation(isActive) {
                    console.log(isActive)
                }
            }
        }
    </script>
}
