@model IEnumerable<SubAdminListModel>
@{
    ViewData["Title"] = "Sub Admins";
    Layout = "_AdminLayout";
}

<div x-data="initData()" class="m-3">
    <h1 class="page-header mb-3">Sub Admin</h1>

    <div class="card card-body">
        <table class="table">
            <thead>
            <tr>
                <th>
                    <strong>Name</strong>
                </th>
                <th>
                    <strong>User Name</strong>
                </th>
                <th>
                    <strong>Password</strong>
                </th>
                <th>
                    <strong>Phone</strong>
                </th>
                <th>
                    <strong>Email</strong>
                </th>
                <th>
                    <strong>Address</strong>
                </th>
                <th style="width: 100px; text-align: center">
                    <strong>Active</strong>
                </th>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.UserName</td>
                    <td>@item.Ps</td>
                    <td>@item.Phone</td>
                    <td>@item.Email</td>
                    <td>@item.Address</td>
                    <td>
                        <div class="form-check-inline">
                            <input id="@item.RegistrationId" x-on:change="(e)=>userActivation(@item.RegistrationId,e)" type="checkbox" class="form-check-input" @(item.Validation ? "checked" : "")>
                            <label for="@item.RegistrationId" class="form-check-label @(item.Validation ? "text-success" : "text-danger")">@(item.Validation ? "Activated" : "Deactivated")</label>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
<script>
    function initData() {
        return {
            async userActivation(registrationId,evt) {
                const options = {
                    method: 'POST',
                    headers: { "Content-Type": "application/x-www-form-urlencoded" },
                    body: `registrationId=${registrationId}`
                }

                const response = await fetch("/subAdmin/PostUserValidation", options);
                const responseData = await response.json();

                const label = evt.target.nextElementSibling;

                if (evt.target.checked) {
                    label.textContent = "Activated";
                    label.classList.remove("text-danger");
                    label.classList.add("text-success");
                } else {
                    label.textContent =  "Deactivated";
                    label.classList.remove("text-success")
                    label.classList.add("text-danger")
                }
                

                $.notify(responseData.Message, responseData.IsSuccess ? "success" : "error");
            }
        }
    }
</script>
}